.accordion {
  width: 100%;
}
.accordion__button {
  align-items: center;
  background-color: #f5f6f8;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
}

.accordion__heading {
  font-size: 1.2em;
  font-weight: bold;
}
.accordion__plus-sign {
  font-size: 2em;
  font-weight: bolder;
}

.accordion__plus-sign--active {
  transform: rotate(0.12turn);
}
